@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LeaveRequest</h1>
    <p class="lead">Leave Request for the masses</p>
</div>

<div>
<pre>









                                                    *White noise*








</pre>
</div>